# Configuración para Ollama Local
OPENAI_BASE_URL="http://localhost:11434/v1"
OPENAI_API_KEY="ollama"
OPENAI_MODEL="hf.co/bartowski/Qwen2.5-Coder-1.5B-Instruct-abliterated-GGUF"

# Configuración alternativa para OpenRouter / OpenAI
# OPENAI_BASE_URL="https://openrouter.ai/api/v1"
# OPENAI_API_KEY="sk-or-v1-tu-api-key-aqui"
# OPENAI_MODEL="meta-llama/llama-3.3-70b-instruct:free"

